html
  head
    title 1523 Atrisco Drive SW, Albuquerque NM, 87105
    link(href="//fonts.googleapis.com/css?family=Droid+Serif:400,700|Kreon|Bitter|Vollkorn", rel="stylesheet", type="text/css")
    link(href="/styles.css", rel="stylesheet", type="text/css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    section

      hgroup
        h2 For Sale by Owner
        h1
          a(href="http://goo.gl/9AtfSu") 1532 Atrisco Drive SW
        h2
          //- em in Albuquerque, New Mexico
          em $250,000


      img(src=public._data[0].urls.medium640 alt=public._data[0].title)

      h3 The House

      :markdown
        The house is a beautiful three-bedroom, tucked away on two acres
        in Albuquerque's South Valley. It has one master bedroom, two small
        bedrooms, and one bathroom with a beautiful antique clawfoot tub. There are hardwood floors throughout, rustic Saltillo tile in the kitchen and
        ceramic tile flooring in the bathroom.

        The house itself is 1250ft², and there's a 330ft² detached laundry room and workshop, as well as a detached 220ft² building for use as a toolshed or workspace. The laundry room includes washer and dryer.

        The living room has a working fireplace.

      h3 The Property

      :markdown

        The house is very private, with an enclosed front yard. A newly-built adobe wall runs along the street, providing protection and insulation from traffic.

        With an enclosed 2.1-acre lot, the property is perfect for pets or farm animals. During the time that I lived here, it was home to donkeys, goats, pigs, dogs, cats, chickens, and geese.

        There are several large cottonwood, elm, and mulberry trees on the property.

        The house itself has city water, but there's also a working well with a newly-installed pump for outdoor use such as gardening.

      h3 The Location

      :markdown
        The Atrisco house is remote enough that your neighbors have a cow, but it's only 4 miles from downtown Albuquerque, and five miles from the University. There's also a bus line that runs on Atrisco, and a bus stop right outside the house.

        There is a driveway with secluded off-street parking.


      #images
        - each image in public._data
          a.img(href=image.url title=image.title)
            img(src=image.urls.medium640 alt=image.title)
            span= image.title


      h3 Contact the Owner

      :markdown
        Please call, text, or email if you have questions or would like to arrange a viewing.

        - Owner name: Zeke Sikelianos
        - Phone: (505) 842-9088 or (505) 459-2942
        - Email: [zeke@sikelianos.com](mailto:zeke@sikelianos.com)
        - Website: [atriscohouse.org](http://atriscohouse.org)
        - Map: [1532 Atrisco SW, Albuquerque NM 87105](http://goo.gl/9AtfSu)
