html
  head
    title 1523 Atrisco Drive SW, Albuquerque NM, 87105
    link(href="//fonts.googleapis.com/css?family=Droid+Serif:400,700|Alegreya+SC:400,700", rel="stylesheet", type="text/css")
    link(href="/styles.css", rel="stylesheet", type="text/css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body

    #splash(style="background-image:url('" + public._data[0].urls.large + "')")
      hgroup
        h2 For Sale by Owner
        h1
          a(href="http://goo.gl/9AtfSu") 1532 Atrisco Drive SW
        h2
          em Albuquerque, New Mexico
          br
          em $250,000

    section

      h3#house
        a(href="#house") The House

      :markdown
        The house is a beautiful three-bedroom, tucked away on two acres
        in Albuquerque's South Valley. It has one master bedroom, two small
        bedrooms, and one bathroom with a beautiful antique clawfoot tub. There are hardwood floors throughout, rustic Saltillo tile in the kitchen and
        ceramic tile flooring in the bathroom.

        The house itself is 1250ft², and there's a 330ft² detached laundry room and workshop, as well as a detached 220ft² building for use as a toolshed or workspace. The laundry room includes washer and dryer.

        The living room has a working fireplace.

      h3#property
        a(href="#property") The Property

      :markdown

        The property is very private, with a front yard enclosed by a newly-built adobe wall, providing protection and insulation from traffic on Atrisco.

        With an enclosed 2.1-acre lot, the property is perfect for pets or farm animals. During the time that I lived here, it was home to donkeys, goats, pigs, dogs, cats, chickens, and geese.

        There are several large cottonwood, elm, and mulberry trees on the property.

        The house itself is on city water, but there's also a well with a new electric pump for outdoor irrigation.

      h3#location
        a(href="#location") The Location

      :markdown
        The Atrisco house is remote enough that your neighbors have a cow, but it's only 4 miles from downtown Albuquerque, and five miles from the University of New Mexico (UNM). The [51 bus line](http://www.cabq.gov/transit-ada/vi080315/wk0051intp04.html) runs on Atrisco, and there's a stop right outside the house.

        There is a driveway off Atrisco with secluded off-street parking.

      #images
        - each image in public._data
          a.img(href=image.url title=image.title)
            img(src=image.urls.medium640 alt=image.title)
            span= image.title

      h3#map
        a(href="#map") Map

      #map
        <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/sikelianos.jhnhbhak/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1Ijoic2lrZWxpYW5vcyIsImEiOiJHTjAwOTBFIn0.YSTnY-2sFeLs5Uy4R26IVw'></iframe>


      h3#details
        a(href="#details") Details

      table
        tbody
          tr
            td Property Address
            td
              :markdown
                [1532 Atrisco SW, Albuquerque NM 87105](http://goo.gl/9AtfSu)
          tr
            td Legal Description
            td Map 43 Tracts 40A2 41A
          tr
            td
              :markdown
                [Assessor's Parcel #](http://en.wikipedia.org/wiki/Assessor%27s_parcel_number)
            td 101105543542210520
          tr
            td Map Reference
            td M-11-Z
          tr
            td Census Tract
            td 0044.01
          tr
            td Owner
            td
              :markdown
                [Zeke Sikelianos](http://zeke.sikelianos.com)
          tr
            td Phone
            td (505) 842-9088 or (505) 459-2942
          tr
            td Email
            td
              :markdown
                [zeke@sikelianos.com](mailto:zeke@sikelianos.com)
          tr
            td Website
            td
              :markdown
                [atriscohouse.org](http://atriscohouse.org)

      h3#improvements
        a(href="#improvements") Recent Improvements

      :markdown

        **2005**

        - Re-stuccoed house and detached buildings
        - Installed new windows
        - Painted the trim
        - Removed carpet and refinished hardwood floors
        - Remodeled bathroom with clawfoot tub, wainscot walls, and ceramic tile floors

        **2006**

        - Installed saltillo fllor tiles in kitchen
        - Removed wall between kitchen and dining room and installed a bar with exposed wood vigas

        **2007**

        - Built adobe wall between front yard and Atrisco Drive
        - Blocked off one of the Atrisco driveways, enclosing the front yard

        **2009**

        - Installed carpeting and new walls in detached laundry room

        **2011**

        - Repiped hot and cold water lines to bathroom and kitchen
        - Repiped hot and cold water lines to water heater and washer in detached laundry room

        **2013**

        - Replaced electric pump for well

      h3#contact
        a(href="#contact") Contact the Owner

      :markdown
        To ask questions or arrange a viewing, email [zeke@sikelianos.com](mailto:zeke@sikelianos.com).

      footer
